@use "../global" as g;

.mainVisual{
  position: relative;
  width: 100%;
  height: 100vh;

  h2{
    position: absolute;
    top: 45%;
    left: 30px;
    color: #fff;
    font-size: 64px;
  }

  @include g.pc{
    width: 100%;
    height: 100vh;

    img{
      width: 100%;
      height: 100vh;
      object-fit: cover;
      object-position: center right;
    }
  }

  @include g.tablet{
    img{
      width: 100%;
      height: 100vh;
      object-fit: cover;
      object-position: center right;
    }
  }

  @include g.sp{
    img{
      width: 100%;
      height: 100vh;
      object-fit: cover;
    }

    h2{
      font-size: 32px;
    }
  }
}

.news{
  width: 100%;
  background-color: g.$background-color1;
  margin-top: 100px;
  color: g.$sub-color1;

  &__title{
    width: 80%;
    margin: 0 auto;
    @include g.pc{
      h2{
        color: g.$main-color;
        font-size: 84px;
        span{
          @include g.sub-font;
          color: rgba(202, 127, 19, 0.2);
          font-size: 120px;
          margin-left: -100px;
        }
      }
      p{
        font-size: 14px;
        color: g.$main-color;
        margin-top: -50px;
      }
    }
    @include g.tablet{
      h2{
        color: g.$main-color;
        font-size: 84px;
        span{
          @include g.sub-font;
          color: rgba(202, 127, 19, 0.2);
          font-size: 120px;
          margin-left: -100px;
        }
      }
      p{
        font-size: 14px;
        color: g.$main-color;
        margin-top: -50px;
      }
    }
    @include g.sp{
      h2{
        color: g.$main-color;
        font-size: 48px;
        span{
          @include g.sub-font;
          font-size: 72px;
          margin-left: -60px;
          color: rgba(202, 127, 19, 0.2);
        }
      }
    }
  }

  &__list{
    @include g.pc{
      display: flex;
      width: 90%;
      margin: 30px auto 100px;
    }
    @include g.tablet{
      display: flex;
      width: 90%;
      margin: 30px auto 100px;
    }
    @include g.sp{
      width: 90%;
      margin: 30px auto 30px;
    }
    &__item{
    @include g.pc{
    display: block;
    width: 33%;
    border-left: 1px solid g.$sub-color1;
    padding-left: 20px;
    margin-left: 20px;
    }

    @include g.tablet{
    display: block;
    width: 33%;
    border-left: 1px solid g.$sub-color1;
    padding-left: 20px;
    margin-left: 20px;
    }

    @include g.sp{
      display: block;
      width: 100%;
      border-top: 1px solid g.$sub-color1;
      padding: 20px 0;
    }

    &:last-child{
      @include g.pc{
        border-right: 1px solid g.$text-color;
        padding-right: 20px;
      }
      @include g.tablet{
        border-right: 1px solid g.$text-color;
        padding-right: 20px;
      }
      @include g.sp{
        border-bottom: 1px solid g.$text-color;
      }
      }
    }

    &__date{
      font-size: 14px;
    }

    &__title{
      margin: 16px 0;
      font-size: 18px;
      overflow: hidden;
      width: 100%;
      max-height: 50px;
    }

    &__category{
      font-size: 14px;
      color: g.$sub-color1;
    }
  }



  &__list__date,
  &__list__title,
  &__list__category{
    display: block;
  }
}

.viewAll{
  @include g.pc{
  width: 90%;
  margin: -20px auto 0;
  text-align: right;
  &__a{
    border-radius: 30px;
    padding: 5px 40px;
    background-color: g.$sub-color2;
    color: #fff;
    width: fit-content;
    }
  }
  @include g.tablet{
  width: 90%;
  margin: -20px auto 0;
  text-align: right;
  &__a{
    border-radius: 30px;
    padding: 5px 40px;
    background-color: g.$sub-color2;
    color: #fff;
    width: fit-content;
    }
  }
  @include g.sp{
    width: 90%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 100px;
    &__a{
      border-radius: 30px;
      padding: 5px 40px;
      background-color: g.$sub-color2;
      color: #fff;
      width: fit-content;
      font-size: 12px;
    }
  }
}

.conceptPc{
  width: 85%;
  margin: 0 auto;

  &__top{
    width: 100%;
    position: relative;
    text-align: right;
    margin-bottom: 50px;
    img{
      width: 70%;
      display: inline;
    }

    &__title{
      position: absolute;
      text-align: left;
      color: g.$main-color;
      @include g.pc{
        top: 30%;
      }
      @include g.tablet{
        top: 20%;
      }

      h2{
        @include g.pc{
        font-size: 84px;
          span{
            font-size: 120px;
            margin-left: -300px;
            @include g.sub-font;
            color: rgba(202, 127, 19, 0.2);
          }
        }
        @include g.tablet{
          font-size: 54px;
          span{
            font-size: 70px;
            margin-left: -200px;
            @include g.sub-font;
            color: rgba(202, 127, 19, 0.2);
          }
        }
      }

      p{
        font-size: 14px;
        @include g.pc{
          margin-top: -50px;
        }
        @include g.tablet{
          margin-top: -30px;
        }
      }

      h3{
        @include g.pc{
          font-size: 28px;
          margin-top: 20px;
        }
        @include g.tablet{
          font-size: 20px;
          margin-top: 10px;
        }
      }
    }
  }

  &__bottom{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 10px;

    &__img{
      width: 40%;
    }

    p{
      width: 50%;
      font-size: 18px;
      color: g.$sub-color1;
    }
  }
}

.concept{
  margin-bottom: 100px;

  &__viewMore{
    width: 80%;
    margin: 0 auto;
    text-align: right;

    a{
      font-size: 18px;
      color: g.$sub-color1;
      position: relative;
      display: inline-block;
    }

    &__lineArrow{
      width: 120%;
      height: 10px;
      border-bottom: 1px solid g.$sub-color1;
      border-right: 1px solid g.$sub-color1;
      transform: skew(45deg);
      margin-top: -10px;
    }
  }
}

.conceptSp{
  width: 90%;
  margin: 0 auto;
  margin-bottom: 20px;

  &__top{
    width: 100%;
    margin-bottom: 30px;
  }

  &__bottom{
    width: 100%;
    text-align: right;
    position: relative;
    margin-bottom: 30px;

    img{
      display: inline;
    }

    &__title{
      position: absolute;
      color: g.$main-color;
      top: 5%;
      text-align: left;

      h2{
        font-size: 48px;
        span{
          font-size: 72px;
          margin-left: -200px;
          @include g.sub-font;
          color: rgba(202, 127, 19, 0.2);
        }
      }
      p{
        margin-top: -30px;
        font-size: 16px;
      }

      h3{
        margin-top: 30px;
        font-size: 18px;
      }
    }
  }

  &__content{
    width: 90%;
    margin: 0 auto;
    color: g.$sub-color1;
  }
}

.feature{
  padding: 50px 0;
  width: 100%;
  background-color: #464646;
}

.featureSp{
  &__top{
    &__title{
      position: relative;
      z-index: 500;
      h2{
        color: g.$main-color;
        font-size: 48px;
        width: fit-content;
        position: relative;
        margin: 0 auto;

        span{
          @include g.sub-font;
          color: rgba(202, 127, 19, 0.2);
          font-size: 72px;
          width: fit-content;
          position: absolute;
          top: -40px;
          left: 0;
        }
      }
    }
    &__container{
      margin-top: -40px;
    }
  }

  &__bottom{
    width: 80%;
    margin: 50px auto 0;
    color: g.$main-color;
    text-align: center;
    font-size: 14px;

    &__content{
    h3{
      display: flex;
      align-items: center;
      justify-content: center;

      &::before,
      &::after{
        content: "";
        height: 1px;
        background-color: g.$main-color;
        flex-grow: 1;
        }
      &::before{
        margin-right: 20px;
        }
      &::after{
        margin-left: 20px;
        }
      }

      h4{
        font-size: 18px;
        margin: 15px 0 20px;
      }

      p{
        color: rgba(202, 127, 19, 0.8);
      }
    }
  }
}

.featurePc{
  &__title{
    padding-top: 30px;
    h2{
      color: g.$main-color;
      font-size: 106px;
      width: fit-content;
      margin: 0 auto -70px;
      position: relative;
      z-index: 100;


      span{
        @include g.sub-font;
        color: rgba(202, 127, 19, 0.2);
        position: absolute;
        left: 0;
        top: -40px;
      }
    }
  }

  &__content{
    display: flex;
    width: 90%;
    margin: 0 auto;
    color: g.$main-color;
    text-align: center;
    align-items: center;
    height: 100%;

    &__titleCover{
      display: flex;
      margin-bottom: 30px;
      gap: 10px;
      color: rgba(202, 127, 19, 0.6);

      h3{
        text-align: left;
      }
      }

    &__titleCover.active span{
      color: rgba(202, 127, 19, 1);
    }

    &__titleCover.active h3{
      color: rgba(202, 127, 19, 1);
    }

      h3{
        
      }

    &__left{
      width: 33%;
      font-size: 18px;
    }

    &__center{
      width: 33%;

      img{
        width: 100%;
      }
    }

    &__right{
      width: 33%;

      span{
        height: 2px;
        width: 10%;
        background-color: g.$main-color;
        display: block;
        margin: 20px auto;
      }

      h3{
        font-size: 24px;
        margin-bottom: 40px;

        & + p{
          color: rgba(202, 127, 19, 0.8);
        }
      }
    }
  }
}

