.pcNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Marcellus", serif;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #54372D;
  position: fixed;
  width: 100%;
  top: 25px;
  left: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1000;
}
.pcNav__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 30px;
}
.pcNav__left img {
  width: 50px;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 10px;
}
.pcNav__left h1 {
  font-size: 20px;
}
.pcNav__right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.pcNav__right li {
  margin-right: 20px;
}
.pcNav__right li:nth-child(-n+3) {
  padding: 0 5px;
}
.pcNav__right li:nth-child(4) {
  padding: 5px 45px 5px 20px;
  color: #fff;
  background-color: #949E33;
  border-radius: 30px;
  margin-right: 30px;
}
.pcNav__right .fa-calendar-days {
  margin: 0 15px;
}
@media (max-width: 635px) and (min-width: 376px) {
  .pcNav {
    display: none;
  }
}

.spNav {
  position: relative;
  z-index: 10000;
}
.spNav__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  height: 40px;
  z-index: 1000;
}
.spNav__top img {
  width: 40px;
  height: auto;
  margin-left: 20px;
}
.spNav__top__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #949E33;
  padding: 0 15px;
  border-radius: 30px;
  color: #fff;
  margin-right: 20px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  height: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
.spNav__top__button p {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.spNav__top__button.active {
  width: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.spNav__top__button.active p {
  display: none;
}
.spNav__top__hamburger {
  position: relative;
  width: 40px;
  height: 40px;
}
.spNav__top__hamburger span {
  display: inline-block;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  position: absolute;
  right: 0;
  height: 2px;
  border-radius: 5px;
  background-color: #fff;
  width: 50%;
  z-index: 100;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.spNav__top__hamburger span:nth-child(1) {
  top: 12px;
}
.spNav__top__hamburger span:nth-child(2) {
  top: 18.5px;
}
.spNav__top__hamburger span:nth-child(3) {
  top: 25px;
}
.spNav__top__hamburger.active span:nth-child(1) {
  -webkit-transform: translateX(-50%) rotate(45deg);
          transform: translateX(-50%) rotate(45deg);
  top: 18.5px;
  width: 70%;
  left: 50%;
}
.spNav__top__hamburger.active span:nth-child(2) {
  opacity: 0;
}
.spNav__top__hamburger.active span:nth-child(3) {
  -webkit-transform: translateX(-50%) rotate(-45deg);
          transform: translateX(-50%) rotate(-45deg);
  top: 18.5px;
  width: 70%;
  left: 50%;
}

.navContent {
  position: absolute;
  right: -100vw;
  width: 100%;
  height: 100vh;
  color: #CA7F13;
  -webkit-transition: right 0.4s;
  transition: right 0.4s;
  z-index: 100;
  background-color: #D4CEBE;
}
.navContent ul {
  margin: 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-top: 150px;
  font-size: 20px;
}

.navContent.active {
  right: 0;
}

body.no-scroll,
html.no-scroll {
  overflow: hidden;
  height: 100%;
}

.priceMenu ul {
  width: 100%;
  color: #CA7F13;
}
@media (min-width: 636px) {
  .priceMenu ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.priceMenu ul li {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  letter-spacing: 1.92px;
  font-size: 48px;
  padding-bottom: 10px;
  border-bottom: 1px solid #CA7F13;
  padding-left: 20px;
}
.priceMenu ul li a {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 375px) {
  .priceMenu ul li {
    width: 90%;
    margin: 0 auto 20px;
    font-size: 36px;
    padding-left: 0;
  }
}
.priceMenu ul li span {
  font-size: 14px;
  margin-top: auto;
  margin-bottom: 13px;
  margin-left: 15px;
}
@media (min-width: 636px) {
  .priceMenu ul li:nth-child(1) {
    border-right: 1px solid #CA7F13;
  }
}
@media (min-width: 636px) {
  .priceMenu ul li:nth-child(3) {
    border-right: 1px solid #CA7F13;
  }
}
@media (min-width: 636px) {
  .priceMenu ul li:nth-child(5) {
    border-right: 1px solid #CA7F13;
  }
}
.priceMenu ul i {
  margin: auto 20px auto auto;
  font-size: 21px;
  text-align: right;
}
@media (max-width: 375px) {
  .priceMenu ul i {
    margin: auto 0 auto auto;
  }
}

.reserveMenu {
  font-size: 100px;
  background-image: url("../../../../../../../wp-content/themes/valentinerose/assets/images/reserve-link-pc.webp");
  height: 400px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  color: #CA7F13;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
@media (max-width: 375px) {
  .reserveMenu {
    height: 200px;
    background-image: url("../../../../../../../wp-content/themes/valentinerose/assets/images/reserve-link-sp.webp");
  }
}
.reserveMenu h2 {
  font-size: 80px;
  position: relative;
  z-index: 1;
}
@media (max-width: 375px) {
  .reserveMenu h2 {
    font-size: 48px;
  }
}
.reserveMenu p {
  font-size: 16px;
  position: relative;
  z-index: 1;
}
@media (max-width: 375px) {
  .reserveMenu p {
    font-size: 12px;
  }
}
.reserveMenu::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(70, 70, 70, 0.8);
  z-index: 0;
}

.snsLink {
  color: #CA7F13;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 100px;
}
@media (max-width: 375px) {
  .snsLink {
    margin-top: 10px;
  }
}
.snsLink h2 {
  font-size: 80px;
}
@media (max-width: 375px) {
  .snsLink h2 {
    font-size: 60px;
  }
}
.snsLink p {
  font-size: 16px;
}
@media (max-width: 375px) {
  .snsLink p {
    font-size: 12px;
  }
}
.snsLink__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  height: 300px;
}
@media (max-width: 375px) {
  .snsLink__flex {
    display: block;
    height: auto;
  }
}
.snsLink__left {
  width: 45%;
}
@media (max-width: 375px) {
  .snsLink__left {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 50px;
    padding-top: 50px;
    border-bottom: 1px solid #CA7F13;
  }
}
.snsLink__right {
  width: 45%;
}
@media (max-width: 375px) {
  .snsLink__right {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 50px;
    padding-top: 50px;
    border-bottom: 1px solid #CA7F13;
  }
}
.snsLink__center {
  width: 1px;
  height: 250px;
  background-color: #CA7F13;
}
@media (max-width: 375px) {
  .snsLink__center {
    display: none;
  }
}
.snsLink__underbar {
  height: 1px;
  width: 80%;
  background-color: #CA7F13;
  margin: 0 auto;
  margin-top: 20px;
}
@media (max-width: 375px) {
  .snsLink__underbar {
    display: none;
  }
}

.footerNav {
  position: relative;
}
.footerNav__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.footerNav__title img {
  height: 64px;
  width: 64px;
}
@media (max-width: 375px) {
  .footerNav__title img {
    width: 50px;
    height: auto;
  }
}
.footerNav__title h2 {
  font-size: 28px;
  color: #54372D;
  line-height: 35px;
}
@media (max-width: 375px) {
  .footerNav__title h2 {
    font-size: 20px;
    line-height: 28px;
  }
}
.footerNav__nav {
  width: 45%;
  margin: 0 auto;
  color: #54372D;
  letter-spacing: 2px;
  margin-top: 40px;
}
@media (max-width: 375px) {
  .footerNav__nav {
    width: 70%;
  }
}
.footerNav__nav__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 375px) {
  .footerNav__nav__top {
    row-gap: 10px;
  }
}
.footerNav__nav__top li {
  border-right: 1px solid #54372D;
  width: 20%;
  font-size: 20px;
}
.footerNav__nav__top li:last-child {
  border: none;
}
@media (max-width: 375px) {
  .footerNav__nav__top li {
    font-size: 14px;
    width: 33%;
  }
  .footerNav__nav__top li:nth-child(3) {
    border: none;
  }
}
.footerNav__nav__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}
.footerNav__nav__bottom li {
  width: 40%;
  font-size: 20px;
}
@media (max-width: 375px) {
  .footerNav__nav__bottom li {
    font-size: 14px;
    width: 50%;
  }
}
.footerNav__nav__bottom li:first-child {
  border-right: 1px solid #54372D;
}
.footerNav__copy {
  text-align: center;
  color: #54372D;
  margin-top: 60px;
  font-size: 12px;
  margin-bottom: 32px;
}
@media (max-width: 375px) {
  .footerNav__copy {
    margin-bottom: 8px;
  }
}
.footerNav__goTop {
  width: 80px;
  height: 80px;
  border-radius: 100px;
  background-color: #949E33;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  position: absolute;
  right: 40px;
  bottom: 59px;
}
@media (max-width: 375px) {
  .footerNav__goTop {
    width: 40px;
    height: 40px;
    right: 25px;
    bottom: 24px;
  }
}
.footerNav__goTop i {
  font-size: 40px;
}
@media (max-width: 375px) {
  .footerNav__goTop i {
    font-size: 20px;
    margin-top: 5px;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 100%;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-y: scroll;
}

body {
  margin: 0;
  font-family: sans-serif;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img,
video {
  max-width: 100%;
  height: auto;
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  border: none;
  background: none;
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

*:focus {
  outline: none;
}

:focus-visible {
  outline: 2px dashed #333;
}

fieldset {
  border: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

body {
  font-size: 16px;
  color: #333;
  font-family: "Marcellus", serif;
  width: 100%;
  background-color: #F9F8F6;
  overflow: hidden;
  letter-spacing: 1.8px;
}
@media (max-width: 375px) {
  body {
    font-size: 14px;
  }
}

@media (max-width: 375px) {
  .pc {
    display: none;
  }
}

@media (max-width: 635px) and (min-width: 376px) {
  .tablet {
    display: none;
  }
}

@media (min-width: 636px) {
  .sp {
    display: none;
  }
}

.slick-slide {
  margin: 0 10px;
}

.bled {
  color: #CA7F13;
  font-size: 18px;
  padding-left: 3%;
}

.mainVisual {
  position: relative;
  width: 100%;
  height: 100vh;
}
.mainVisual h2 {
  position: absolute;
  top: 45%;
  left: 30px;
  color: #fff;
  font-size: 64px;
}
@media (min-width: 636px) {
  .mainVisual {
    width: 100%;
    height: 100vh;
  }
  .mainVisual img {
    width: 100%;
    height: 100vh;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center right;
       object-position: center right;
  }
}
@media (max-width: 635px) and (min-width: 376px) {
  .mainVisual img {
    width: 100%;
    height: 100vh;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center right;
       object-position: center right;
  }
}
@media (max-width: 375px) {
  .mainVisual img {
    width: 100%;
    height: 100vh;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .mainVisual h2 {
    font-size: 32px;
  }
}

.news {
  width: 100%;
  background-color: #F9F8F6;
  margin-top: 100px;
  color: #54372D;
}
.news__title {
  width: 80%;
  margin: 0 auto;
}
@media (min-width: 636px) {
  .news__title h2 {
    color: #CA7F13;
    font-size: 84px;
  }
  .news__title h2 span {
    font-family: "annabelle-jf", sans-serif;
    color: rgba(202, 127, 19, 0.0784313725);
    font-size: 120px;
    margin-left: -100px;
  }
  .news__title p {
    font-size: 14px;
    color: #CA7F13;
    margin-top: -50px;
  }
}
@media (max-width: 635px) and (min-width: 376px) {
  .news__title h2 {
    color: #CA7F13;
    font-size: 84px;
  }
  .news__title h2 span {
    font-family: "annabelle-jf", sans-serif;
    color: rgba(202, 127, 19, 0.0784313725);
    font-size: 120px;
    margin-left: -100px;
  }
  .news__title p {
    font-size: 14px;
    color: #CA7F13;
    margin-top: -50px;
  }
}
@media (max-width: 375px) {
  .news__title h2 {
    color: #CA7F13;
    font-size: 48px;
  }
  .news__title h2 span {
    font-family: "annabelle-jf", sans-serif;
    font-size: 72px;
    margin-left: -60px;
    color: rgba(202, 127, 19, 0.0784313725);
  }
}
@media (min-width: 636px) {
  .news__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 90%;
    margin: 30px auto 100px;
  }
}
@media (max-width: 635px) and (min-width: 376px) {
  .news__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 90%;
    margin: 30px auto 100px;
  }
}
@media (max-width: 375px) {
  .news__list {
    width: 90%;
    margin: 30px auto 30px;
  }
}
@media (min-width: 636px) {
  .news__list__item {
    display: block;
    width: 33%;
    border-left: 1px solid #54372D;
    padding-left: 20px;
    margin-left: 20px;
  }
}
@media (max-width: 635px) and (min-width: 376px) {
  .news__list__item {
    display: block;
    width: 33%;
    border-left: 1px solid #54372D;
    padding-left: 20px;
    margin-left: 20px;
  }
}
@media (max-width: 375px) {
  .news__list__item {
    display: block;
    width: 100%;
    border-top: 1px solid #54372D;
    padding: 20px 0;
  }
}
@media (min-width: 636px) {
  .news__list__item:last-child {
    border-right: 1px solid #333;
    padding-right: 20px;
  }
}
@media (max-width: 635px) and (min-width: 376px) {
  .news__list__item:last-child {
    border-right: 1px solid #333;
    padding-right: 20px;
  }
}
@media (max-width: 375px) {
  .news__list__item:last-child {
    border-bottom: 1px solid #333;
  }
}
.news__list__date {
  font-size: 14px;
}
.news__list__title {
  margin: 16px 0;
  font-size: 18px;
  overflow: hidden;
  width: 100%;
  max-height: 50px;
}
.news__list__category {
  font-size: 14px;
  color: #54372D;
}
.news__list__date, .news__list__title, .news__list__category {
  display: block;
}

@media (min-width: 636px) {
  .viewAll {
    width: 90%;
    margin: -20px auto 0;
    text-align: right;
  }
  .viewAll__a {
    border-radius: 30px;
    padding: 5px 40px;
    background-color: #949E33;
    color: #fff;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}
@media (max-width: 635px) and (min-width: 376px) {
  .viewAll {
    width: 90%;
    margin: -20px auto 0;
    text-align: right;
  }
  .viewAll__a {
    border-radius: 30px;
    padding: 5px 40px;
    background-color: #949E33;
    color: #fff;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}
@media (max-width: 375px) {
  .viewAll {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 100px;
  }
  .viewAll__a {
    border-radius: 30px;
    padding: 5px 40px;
    background-color: #949E33;
    color: #fff;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-size: 12px;
  }
}

.conceptPc {
  width: 85%;
  margin: 0 auto;
}
.conceptPc__top {
  width: 100%;
  position: relative;
  text-align: right;
  margin-bottom: 50px;
}
.conceptPc__top img {
  width: 70%;
  display: inline;
}
.conceptPc__top__title {
  position: absolute;
  text-align: left;
  color: #CA7F13;
}
@media (min-width: 636px) {
  .conceptPc__top__title {
    top: 30%;
  }
}
@media (max-width: 635px) and (min-width: 376px) {
  .conceptPc__top__title {
    top: 20%;
  }
}
@media (min-width: 636px) {
  .conceptPc__top__title h2 {
    font-size: 84px;
  }
  .conceptPc__top__title h2 span {
    font-size: 120px;
    margin-left: -300px;
    font-family: "annabelle-jf", sans-serif;
    color: rgba(202, 127, 19, 0.0784313725);
  }
}
@media (max-width: 635px) and (min-width: 376px) {
  .conceptPc__top__title h2 {
    font-size: 54px;
  }
  .conceptPc__top__title h2 span {
    font-size: 70px;
    margin-left: -200px;
    font-family: "annabelle-jf", sans-serif;
    color: rgba(202, 127, 19, 0.0784313725);
  }
}
.conceptPc__top__title p {
  font-size: 14px;
}
@media (min-width: 636px) {
  .conceptPc__top__title p {
    margin-top: -50px;
  }
}
@media (max-width: 635px) and (min-width: 376px) {
  .conceptPc__top__title p {
    margin-top: -30px;
  }
}
@media (min-width: 636px) {
  .conceptPc__top__title h3 {
    font-size: 28px;
    margin-top: 20px;
  }
}
@media (max-width: 635px) and (min-width: 376px) {
  .conceptPc__top__title h3 {
    font-size: 20px;
    margin-top: 10px;
  }
}
.conceptPc__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  margin-bottom: 10px;
}
.conceptPc__bottom__img {
  width: 40%;
}
.conceptPc__bottom p {
  width: 50%;
  font-size: 18px;
  color: #54372D;
}

.concept {
  margin-bottom: 100px;
}
.concept__viewMore {
  width: 80%;
  margin: 0 auto;
  text-align: right;
}
.concept__viewMore a {
  font-size: 18px;
  color: #54372D;
  position: relative;
  display: inline-block;
}
.concept__viewMore__lineArrow {
  width: 120%;
  height: 10px;
  border-bottom: 1px solid #54372D;
  border-right: 1px solid #54372D;
  -webkit-transform: skew(45deg);
          transform: skew(45deg);
  margin-top: -10px;
}

.conceptSp {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 20px;
}
.conceptSp__top {
  width: 100%;
  margin-bottom: 30px;
}
.conceptSp__bottom {
  width: 100%;
  text-align: right;
  position: relative;
  margin-bottom: 30px;
}
.conceptSp__bottom img {
  display: inline;
}
.conceptSp__bottom__title {
  position: absolute;
  color: #CA7F13;
  top: 5%;
  text-align: left;
}
.conceptSp__bottom__title h2 {
  font-size: 48px;
}
.conceptSp__bottom__title h2 span {
  font-size: 72px;
  margin-left: -200px;
  font-family: "annabelle-jf", sans-serif;
  color: rgba(202, 127, 19, 0.0784313725);
}
.conceptSp__bottom__title p {
  margin-top: -30px;
  font-size: 16px;
}
.conceptSp__bottom__title h3 {
  margin-top: 30px;
  font-size: 18px;
}
.conceptSp__content {
  width: 90%;
  margin: 0 auto;
  color: #54372D;
}

.feature {
  padding: 50px 0;
  width: 100%;
  background-color: #464646;
}

.featureSp__top__title {
  position: relative;
  z-index: 500;
}
.featureSp__top__title h2 {
  color: #CA7F13;
  font-size: 48px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  margin: 0 auto;
}
.featureSp__top__title h2 span {
  font-family: "annabelle-jf", sans-serif;
  color: rgba(202, 127, 19, 0.0784313725);
  font-size: 72px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  top: -40px;
  left: 0;
}
.featureSp__top__container {
  margin-top: -40px;
}
.featureSp__bottom {
  width: 80%;
  margin: 50px auto 0;
  color: #CA7F13;
  text-align: center;
  font-size: 14px;
}
.featureSp__bottom__content h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.featureSp__bottom__content h3::before, .featureSp__bottom__content h3::after {
  content: "";
  height: 1px;
  background-color: #CA7F13;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.featureSp__bottom__content h3::before {
  margin-right: 20px;
}
.featureSp__bottom__content h3::after {
  margin-left: 20px;
}
.featureSp__bottom__content h4 {
  font-size: 18px;
  margin: 15px 0 20px;
}
.featureSp__bottom__content p {
  color: rgba(202, 127, 19, 0.8);
}

.featurePc__title {
  padding-top: 30px;
}
.featurePc__title h2 {
  color: #CA7F13;
  font-size: 106px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto -70px;
  position: relative;
  z-index: 100;
}
.featurePc__title h2 span {
  font-family: "annabelle-jf", sans-serif;
  color: rgba(202, 127, 19, 0.0784313725);
  position: absolute;
  left: 0;
  top: -40px;
}
.featurePc__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  margin: 0 auto;
  color: #CA7F13;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
.featurePc__content__titleCover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  gap: 10px;
  color: rgba(202, 127, 19, 0.6);
}
.featurePc__content__titleCover h3 {
  text-align: left;
}
.featurePc__content__titleCover.active span {
  color: rgb(202, 127, 19);
}
.featurePc__content__titleCover.active h3 {
  color: rgb(202, 127, 19);
}
.featurePc__content__left {
  width: 20%;
  font-size: 18px;
}
.featurePc__content__rWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}
.featurePc__content__rImg {
  width: 50%;
}
.featurePc__content__rImg img {
  width: 95%;
  margin: 0 auto;
}
.featurePc__content__wrapper {
  width: 40%;
  margin-top: 50px;
  padding: 0 10px;
}
.featurePc__content__right {
  width: 80%;
}
.featurePc__content__right span {
  height: 2px;
  width: 10%;
  background-color: #CA7F13;
  display: block;
  margin: 20px auto;
}
.featurePc__content__right h3 {
  font-size: 24px;
  margin-bottom: 40px;
}
.featurePc__content__right h3 + p {
  color: rgba(202, 127, 19, 0.8);
  line-height: 36px;
}

.priceMenuTop {
  width: 85%;
  margin: 0 auto;
}
@media (min-width: 636px) {
  .priceMenuTop {
    margin-top: 200px;
    margin-bottom: 150px;
  }
}
@media (max-width: 375px) {
  .priceMenuTop {
    margin: 150px auto;
  }
}
.priceMenuTop__title h2 {
  font-size: 84px;
  position: relative;
  color: #CA7F13;
}
@media (max-width: 375px) {
  .priceMenuTop__title h2 {
    font-size: 48px;
  }
}
.priceMenuTop__title span {
  position: absolute;
  font-size: 120px;
  font-family: "annabelle-jf", sans-serif;
  color: rgba(202, 127, 19, 0.0784313725);
}
@media (min-width: 636px) {
  .priceMenuTop__title span {
    left: 100px;
    top: -60px;
  }
}
@media (max-width: 375px) {
  .priceMenuTop__title span {
    font-size: 72px;
    left: 30px;
    top: -40px;
  }
}
.priceMenuTop__title p {
  color: #CA7F13;
  font-size: 14px;
  margin-top: -30px;
}
@media (max-width: 375px) {
  .priceMenuTop__title p {
    margin-top: -10px;
  }
}
@media (min-width: 636px) {
  .priceMenuTop__menu {
    width: 70%;
    margin: 80px 0 0 auto;
  }
}
@media (max-width: 375px) {
  .priceMenuTop__menu {
    margin-top: 60px;
  }
}

.faqTop {
  width: 100%;
  margin-bottom: 100px;
}
.faqTop__title {
  width: 80%;
  margin: 0 auto;
  color: #CA7F13;
  margin-bottom: 60px;
}
.faqTop__title h2 {
  font-size: 84px;
  position: relative;
}
@media (max-width: 375px) {
  .faqTop__title h2 {
    font-size: 48px;
  }
}
.faqTop__title h2 span {
  position: absolute;
  font-family: "annabelle-jf", sans-serif;
  color: rgba(202, 127, 19, 0.0784313725);
}
@media (min-width: 636px) {
  .faqTop__title h2 span {
    top: -30px;
    left: 50px;
  }
}
@media (max-width: 375px) {
  .faqTop__title h2 span {
    top: -30px;
    left: 30px;
    font-size: 72px;
  }
}
.faqTop__title p {
  margin-top: -20px;
}
@media (max-width: 375px) {
  .faqTop__title p {
    margin-top: -10px;
    font-size: 12px;
  }
}

.faq {
  width: 100%;
}
.faq__accordion {
  display: block;
  margin: 0 auto;
  background-color: #D4CEBE;
  color: #CA7F13;
  padding: 20px 10px;
  margin-bottom: 20px;
}
@media (min-width: 636px) {
  .faq__accordion {
    width: 70%;
  }
}
@media (max-width: 375px) {
  .faq__accordion {
    width: 90%;
  }
}
.faq__accordion__q {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.faq__accordion__q p {
  display: inline-block;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  margin-left: auto;
  color: #54372D;
  font-size: 12px;
  margin-right: 10px;
}
.faq__accordion__q span {
  font-size: 24px;
  margin-right: 20px;
}
@media (max-width: 375px) {
  .faq__accordion__q span {
    font-size: 18px;
    margin-right: 10px;
  }
}
.faq__accordion__q h3 {
  font-size: 18px;
  letter-spacing: 0.72px;
  text-align: left;
}
@media (max-width: 375px) {
  .faq__accordion__q h3 {
    font-size: 14px;
  }
}
.faq__accordion__a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  margin-top: 20px;
}
.faq__accordion__a span {
  font-size: 24px;
  margin-right: 20px;
}
@media (max-width: 375px) {
  .faq__accordion__a span {
    font-size: 18px;
  }
}
.faq__accordion__a p {
  font-size: 18px;
}
@media (max-width: 375px) {
  .faq__accordion__a p {
    font-size: 14px;
  }
}