.pcNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Marcellus", serif;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #54372D;
  position: fixed;
  width: 100%;
  top: 25px;
  left: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1000;
}
.pcNav__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 30px;
}
.pcNav__left img {
  width: 50px;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 10px;
}
.pcNav__left h1 {
  font-size: 20px;
}
.pcNav__right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.pcNav__right li {
  margin-right: 20px;
}
.pcNav__right li:nth-child(-n+3) {
  padding: 0 5px;
}
.pcNav__right li:nth-child(4) {
  padding: 5px 45px 5px 20px;
  color: #fff;
  background-color: #949E33;
  border-radius: 30px;
  margin-right: 30px;
}
.pcNav__right .fa-calendar-days {
  margin: 0 15px;
}
@media (max-width: 635px) and (min-width: 376px) {
  .pcNav {
    display: none;
  }
}

.spNav {
  position: relative;
  z-index: 10000;
}
.spNav__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  height: 40px;
  z-index: 1000;
}
.spNav__top img {
  width: 40px;
  height: auto;
  margin-left: 20px;
}
.spNav__top__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #949E33;
  padding: 0 15px;
  border-radius: 30px;
  color: #fff;
  margin-right: 20px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  height: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
.spNav__top__button p {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.spNav__top__button.active {
  width: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.spNav__top__button.active p {
  display: none;
}
.spNav__top__hamburger {
  position: relative;
  width: 40px;
  height: 40px;
}
.spNav__top__hamburger span {
  display: inline-block;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  position: absolute;
  right: 0;
  height: 2px;
  border-radius: 5px;
  background-color: #fff;
  width: 50%;
  z-index: 100;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.spNav__top__hamburger span:nth-child(1) {
  top: 12px;
}
.spNav__top__hamburger span:nth-child(2) {
  top: 18.5px;
}
.spNav__top__hamburger span:nth-child(3) {
  top: 25px;
}
.spNav__top__hamburger.active span:nth-child(1) {
  -webkit-transform: translateX(-50%) rotate(45deg);
          transform: translateX(-50%) rotate(45deg);
  top: 18.5px;
  width: 70%;
  left: 50%;
}
.spNav__top__hamburger.active span:nth-child(2) {
  opacity: 0;
}
.spNav__top__hamburger.active span:nth-child(3) {
  -webkit-transform: translateX(-50%) rotate(-45deg);
          transform: translateX(-50%) rotate(-45deg);
  top: 18.5px;
  width: 70%;
  left: 50%;
}

.navContent {
  position: absolute;
  right: -100vw;
  width: 100%;
  height: 100vh;
  color: #CA7F13;
  -webkit-transition: right 0.4s;
  transition: right 0.4s;
  z-index: 100;
  background-color: #D4CEBE;
}
.navContent ul {
  margin: 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-top: 150px;
  font-size: 20px;
}

.navContent.active {
  right: 0;
}

body.no-scroll,
html.no-scroll {
  overflow: hidden;
  height: 100%;
}

.priceMenu ul {
  width: 100%;
  color: #CA7F13;
}
@media (min-width: 636px) {
  .priceMenu ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.priceMenu ul li {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  letter-spacing: 1.92px;
  font-size: 48px;
  padding-bottom: 10px;
  border-bottom: 1px solid #CA7F13;
  padding-left: 20px;
}
.priceMenu ul li a {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 375px) {
  .priceMenu ul li {
    width: 90%;
    margin: 0 auto 20px;
    font-size: 36px;
    padding-left: 0;
  }
}
.priceMenu ul li span {
  font-size: 14px;
  margin-top: auto;
  margin-bottom: 13px;
  margin-left: 15px;
}
@media (min-width: 636px) {
  .priceMenu ul li:nth-child(1) {
    border-right: 1px solid #CA7F13;
  }
}
@media (min-width: 636px) {
  .priceMenu ul li:nth-child(3) {
    border-right: 1px solid #CA7F13;
  }
}
@media (min-width: 636px) {
  .priceMenu ul li:nth-child(5) {
    border-right: 1px solid #CA7F13;
  }
}
.priceMenu ul i {
  margin: auto 20px auto auto;
  font-size: 21px;
  text-align: right;
}
@media (max-width: 375px) {
  .priceMenu ul i {
    margin: auto 0 auto auto;
  }
}

.reserveMenu {
  font-size: 100px;
  background-image: url("../../../../../../../wp-content/themes/valentinerose/assets/images/reserve-link-pc.webp");
  height: 400px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  color: #CA7F13;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
@media (max-width: 375px) {
  .reserveMenu {
    height: 200px;
    background-image: url("../../../../../../../wp-content/themes/valentinerose/assets/images/reserve-link-sp.webp");
  }
}
.reserveMenu h2 {
  font-size: 80px;
  position: relative;
  z-index: 1;
}
@media (max-width: 375px) {
  .reserveMenu h2 {
    font-size: 48px;
  }
}
.reserveMenu p {
  font-size: 16px;
  position: relative;
  z-index: 1;
}
@media (max-width: 375px) {
  .reserveMenu p {
    font-size: 12px;
  }
}
.reserveMenu::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(70, 70, 70, 0.8);
  z-index: 0;
}

.snsLink {
  color: #CA7F13;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 100px;
}
@media (max-width: 375px) {
  .snsLink {
    margin-top: 10px;
  }
}
.snsLink h2 {
  font-size: 80px;
}
@media (max-width: 375px) {
  .snsLink h2 {
    font-size: 60px;
  }
}
.snsLink p {
  font-size: 16px;
}
@media (max-width: 375px) {
  .snsLink p {
    font-size: 12px;
  }
}
.snsLink__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  height: 300px;
}
@media (max-width: 375px) {
  .snsLink__flex {
    display: block;
    height: auto;
  }
}
.snsLink__left {
  width: 45%;
}
@media (max-width: 375px) {
  .snsLink__left {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 50px;
    padding-top: 50px;
    border-bottom: 1px solid #CA7F13;
  }
}
.snsLink__right {
  width: 45%;
}
@media (max-width: 375px) {
  .snsLink__right {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 50px;
    padding-top: 50px;
    border-bottom: 1px solid #CA7F13;
  }
}
.snsLink__center {
  width: 1px;
  height: 250px;
  background-color: #CA7F13;
}
@media (max-width: 375px) {
  .snsLink__center {
    display: none;
  }
}
.snsLink__underbar {
  height: 1px;
  width: 80%;
  background-color: #CA7F13;
  margin: 0 auto;
  margin-top: 20px;
}
@media (max-width: 375px) {
  .snsLink__underbar {
    display: none;
  }
}

.footerNav {
  position: relative;
}
.footerNav__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.footerNav__title img {
  height: 64px;
  width: 64px;
}
@media (max-width: 375px) {
  .footerNav__title img {
    width: 50px;
    height: auto;
  }
}
.footerNav__title h2 {
  font-size: 28px;
  color: #54372D;
  line-height: 35px;
}
@media (max-width: 375px) {
  .footerNav__title h2 {
    font-size: 20px;
    line-height: 28px;
  }
}
.footerNav__nav {
  width: 45%;
  margin: 0 auto;
  color: #54372D;
  letter-spacing: 2px;
  margin-top: 40px;
}
@media (max-width: 375px) {
  .footerNav__nav {
    width: 70%;
  }
}
.footerNav__nav__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 375px) {
  .footerNav__nav__top {
    row-gap: 10px;
  }
}
.footerNav__nav__top li {
  border-right: 1px solid #54372D;
  width: 20%;
  font-size: 20px;
}
.footerNav__nav__top li:last-child {
  border: none;
}
@media (max-width: 375px) {
  .footerNav__nav__top li {
    font-size: 14px;
    width: 33%;
  }
  .footerNav__nav__top li:nth-child(3) {
    border: none;
  }
}
.footerNav__nav__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}
.footerNav__nav__bottom li {
  width: 40%;
  font-size: 20px;
}
@media (max-width: 375px) {
  .footerNav__nav__bottom li {
    font-size: 14px;
    width: 50%;
  }
}
.footerNav__nav__bottom li:first-child {
  border-right: 1px solid #54372D;
}
.footerNav__copy {
  text-align: center;
  color: #54372D;
  margin-top: 60px;
  font-size: 12px;
  margin-bottom: 32px;
}
@media (max-width: 375px) {
  .footerNav__copy {
    margin-bottom: 8px;
  }
}
.footerNav__goTop {
  width: 80px;
  height: 80px;
  border-radius: 100px;
  background-color: #949E33;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  position: absolute;
  right: 40px;
  bottom: 59px;
}
@media (max-width: 375px) {
  .footerNav__goTop {
    width: 40px;
    height: 40px;
    right: 25px;
    bottom: 24px;
  }
}
.footerNav__goTop i {
  font-size: 40px;
}
@media (max-width: 375px) {
  .footerNav__goTop i {
    font-size: 20px;
    margin-top: 5px;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 100%;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-y: scroll;
}

body {
  margin: 0;
  font-family: sans-serif;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img,
video {
  max-width: 100%;
  height: auto;
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  border: none;
  background: none;
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

*:focus {
  outline: none;
}

:focus-visible {
  outline: 2px dashed #333;
}

fieldset {
  border: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

body {
  font-size: 16px;
  color: #333;
  font-family: "Marcellus", serif;
  width: 100%;
  background-color: #F9F8F6;
  overflow: hidden;
  letter-spacing: 1.8px;
}
@media (max-width: 375px) {
  body {
    font-size: 14px;
  }
}

@media (max-width: 375px) {
  .pc {
    display: none;
  }
}

@media (max-width: 635px) and (min-width: 376px) {
  .tablet {
    display: none;
  }
}

@media (min-width: 636px) {
  .sp {
    display: none;
  }
}

.slick-slide {
  margin: 0 10px;
}

.bled {
  color: #CA7F13;
  font-size: 18px;
  padding-left: 3%;
}

.price__header {
  height: 110px;
  background-color: #F9F8F6;
}
@media (max-width: 375px) {
  .price__header {
    height: 80px;
  }
}
.price__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #D4CEBE;
  height: 360px;
  width: 100%;
  color: #CA7F13;
  font-size: 60px;
  letter-spacing: 8px;
}
@media (max-width: 375px) {
  .price__title {
    font-size: 20px;
    letter-spacing: 3.2px;
    height: 200px;
  }
}
.price__menuNav {
  margin-top: 15px;
}
.price__menuNav__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 84%;
  margin: 80px auto 100px;
}
@media (max-width: 375px) {
  .price__menuNav__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    width: 86%;
    margin: 80px auto 80px;
  }
}
.price__menuNav__left {
  width: 50%;
}
@media (max-width: 375px) {
  .price__menuNav__left {
    width: 100%;
  }
}
.price__menuNav__left p {
  width: 95%;
  color: rgba(202, 127, 19, 0.8);
  font-size: 16px;
  letter-spacing: 1.4px;
  line-height: 36px;
}
@media (max-width: 375px) {
  .price__menuNav__left p {
    width: 100%;
  }
}
.price__menuNav__right {
  width: 50%;
}
@media (max-width: 375px) {
  .price__menuNav__right {
    width: 100%;
    margin-bottom: 30px;
  }
}
.price__menuContent {
  background-color: #D4CEBE;
  padding: 57px 0 63px;
  text-align: center;
}
.price__menuContent h3 {
  font-size: 84px;
  font-weight: normal;
  letter-spacing: 3.36px;
  color: #CA7F13;
  margin-bottom: 40px;
}
@media (max-width: 375px) {
  .price__menuContent h3 {
    margin-bottom: 58px;
  }
}
.price__menuContent h4 {
  font-size: 24px;
  letter-spacing: 2.4px;
  color: #CA7F13;
  margin-bottom: 32px;
}
.price__menuContent h4 + p {
  font-size: 18px;
  letter-spacing: 1.8px;
  color: #CA7F13;
  width: 45%;
  margin: 0 auto;
  margin-bottom: 64px;
}
@media (max-width: 375px) {
  .price__menuContent h4 + p {
    text-align: left;
    width: 90%;
    margin: 0 auto;
    font-size: 14px;
    line-height: 32px;
  }
}
.price__menuContent table {
  width: 60%;
  margin: 0 auto;
  color: #CA7F13;
}
.price__menuContent table tr:nth-child(1) th {
  font-size: 16px;
  font-weight: normal;
}
.price__menuContent table tr:nth-child(n+2) th:nth-child(1) {
  font-size: 16px;
  font-weight: normal;
}
.price__menuContent table tr th {
  border-bottom: 1px solid #CA7F13;
  padding: 15px 0;
}
.price__menuContent table + p {
  color: #CA7F13;
  font-size: 12px;
  letter-spacing: 0.48px;
  text-align: right;
  width: 56%;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 80px;
}
.price__menuContent__lastp {
  margin-bottom: 0 !important;
}
.price__menuContentSp {
  color: #CA7F13;
  background-color: #D4CEBE;
  padding-top: 56px;
  padding-bottom: 50px;
}
.price__menuContentSp h3 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  font-size: 84px;
  margin-bottom: 48px;
  letter-spacing: 3.36px;
}
.price__menuContentSp h3 + p {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  font-size: 18px;
}
.price__menuContentSp h3 + h4:first-child {
  margin-top: 0 !important;
}
.price__menuContentSp h4 {
  font-size: 18px;
  letter-spacing: 1.8px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 32px auto;
}
.price__menuContentSp h4 + p {
  font-size: 14px;
  width: 90%;
  margin: 0 auto;
}
.price__menuContentSp h4 + p + p {
  font-size: 18px;
  margin: 32px auto 40px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.price__menuContentSp table {
  text-align: center;
  width: 90%;
  margin: 0 auto;
}
.price__menuContentSp table tr {
  font-size: 16px;
}
.price__menuContentSp table tr th {
  border-bottom: 1px solid #CA7F13;
  padding: 20px 0;
}
.price__menuContentSp table tr:nth-child(1) th {
  font-weight: normal;
}
.price__menuContentSp table tr:nth-child(n+2) th:nth-child(1) {
  font-weight: normal;
}
.price__menuContentSp table + p {
  width: 90%;
  margin: 12px auto 0;
}
.price__menuContentSp__body {
  margin-bottom: 68px;
}
.price__menuContentSp__vline p {
  width: -webkit-fit-content !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
  margin: 0 auto 40px !important;
  font-size: 18px;
}
.price__menuContentSp__vline table {
  margin-bottom: 67px;
}
.price__menuContentSp__set p {
  width: -webkit-fit-content !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
  margin: 0 auto 40px !important;
  font-size: 18px;
}
.price__menuContentSp__set table {
  margin-bottom: 67px;
}
.price__menuContentSp__lastTable {
  margin-bottom: 0 !important;
}
.price__custom {
  margin: 80px 0;
}
.price__custom__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 85%;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 60px;
}
@media (max-width: 375px) {
  .price__custom__flex {
    display: block;
  }
}
.price__custom__left img {
  width: 480px;
  height: auto;
}
@media (max-width: 375px) {
  .price__custom__left img {
    width: 240px;
    height: auto;
    margin: 0 auto 60px;
  }
}
.price__custom__right {
  width: 48%;
  color: #CA7F13;
}
@media (max-width: 375px) {
  .price__custom__right {
    width: 100%;
  }
}
.price__custom__right h3 {
  font-size: 48px;
  font-weight: normal;
  margin-bottom: 54px;
}
@media (max-width: 375px) {
  .price__custom__right h3 {
    margin-bottom: 12px;
  }
}
.price__custom__right p {
  color: rgba(202, 127, 19, 0.8);
  font-size: 16px;
  letter-spacing: 1.8px;
  line-height: 36px;
}
@media (max-width: 375px) {
  .price__custom__right p {
    font-size: 14px;
    letter-spacing: 1.4px;
    line-height: 28px;
  }
}

.priceMenu ul li {
  font-size: 33px !important;
}
@media (max-width: 375px) {
  .priceMenu ul li {
    font-size: 20px !important;
    padding-bottom: 5px !important;
    letter-spacing: 0.8px !important;
    margin-bottom: 5px !important;
  }
}
.priceMenu ul li span {
  font-size: 9px !important;
}
@media (max-width: 375px) {
  .priceMenu ul li span {
    font-size: 12px in !important;
    margin: auto 0 3px 10px !important;
    letter-spacing: 0.48px !important;
  }
}
.priceMenu ul i {
  font-size: 14px;
}