@charset "UTF-8";
.pcNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Marcellus", serif;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #54372D;
  position: fixed;
  width: 100%;
  top: 25px;
  left: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1000;
}
.pcNav__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 30px;
}
.pcNav__left img {
  width: 50px;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 10px;
}
.pcNav__left h1 {
  font-size: 20px;
}
.pcNav__right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.pcNav__right li {
  margin-right: 20px;
}
.pcNav__right li:nth-child(-n+3) {
  padding: 0 5px;
}
.pcNav__right li:nth-child(4) {
  padding: 5px 45px 5px 20px;
  color: #fff;
  background-color: #949E33;
  border-radius: 30px;
  margin-right: 30px;
}
.pcNav__right .fa-calendar-days {
  margin: 0 15px;
}
@media (max-width: 635px) and (min-width: 376px) {
  .pcNav {
    display: none;
  }
}

.spNav {
  position: relative;
  z-index: 10000;
}
.spNav__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  height: 40px;
  z-index: 1000;
}
.spNav__top img {
  width: 40px;
  height: auto;
  margin-left: 20px;
}
.spNav__top__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #949E33;
  padding: 0 15px;
  border-radius: 30px;
  color: #fff;
  margin-right: 20px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  height: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
.spNav__top__button p {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.spNav__top__button.active {
  width: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.spNav__top__button.active p {
  display: none;
}
.spNav__top__hamburger {
  position: relative;
  width: 40px;
  height: 40px;
}
.spNav__top__hamburger span {
  display: inline-block;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  position: absolute;
  right: 0;
  height: 2px;
  border-radius: 5px;
  background-color: #fff;
  width: 50%;
  z-index: 100;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.spNav__top__hamburger span:nth-child(1) {
  top: 12px;
}
.spNav__top__hamburger span:nth-child(2) {
  top: 18.5px;
}
.spNav__top__hamburger span:nth-child(3) {
  top: 25px;
}
.spNav__top__hamburger.active span:nth-child(1) {
  -webkit-transform: translateX(-50%) rotate(45deg);
          transform: translateX(-50%) rotate(45deg);
  top: 18.5px;
  width: 70%;
  left: 50%;
}
.spNav__top__hamburger.active span:nth-child(2) {
  opacity: 0;
}
.spNav__top__hamburger.active span:nth-child(3) {
  -webkit-transform: translateX(-50%) rotate(-45deg);
          transform: translateX(-50%) rotate(-45deg);
  top: 18.5px;
  width: 70%;
  left: 50%;
}

.navContent {
  position: absolute;
  right: -100vw;
  width: 100%;
  height: 100vh;
  color: #CA7F13;
  -webkit-transition: right 0.4s;
  transition: right 0.4s;
  z-index: 100;
  background-color: #D4CEBE;
}
.navContent ul {
  margin: 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-top: 150px;
  font-size: 20px;
}

.navContent.active {
  right: 0;
}

body.no-scroll,
html.no-scroll {
  overflow: hidden;
  height: 100%;
}

.priceMenu ul {
  width: 100%;
  color: #CA7F13;
}
@media (min-width: 636px) {
  .priceMenu ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.priceMenu ul li {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  letter-spacing: 1.92px;
  font-size: 48px;
  padding-bottom: 10px;
  border-bottom: 1px solid #CA7F13;
  padding-left: 20px;
}
.priceMenu ul li a {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 375px) {
  .priceMenu ul li {
    width: 90%;
    margin: 0 auto 20px;
    font-size: 36px;
    padding-left: 0;
  }
}
.priceMenu ul li span {
  font-size: 14px;
  margin-top: auto;
  margin-bottom: 13px;
  margin-left: 15px;
}
@media (min-width: 636px) {
  .priceMenu ul li:nth-child(1) {
    border-right: 1px solid #CA7F13;
  }
}
@media (min-width: 636px) {
  .priceMenu ul li:nth-child(3) {
    border-right: 1px solid #CA7F13;
  }
}
@media (min-width: 636px) {
  .priceMenu ul li:nth-child(5) {
    border-right: 1px solid #CA7F13;
  }
}
.priceMenu ul i {
  margin: auto 20px auto auto;
  font-size: 21px;
  text-align: right;
}
@media (max-width: 375px) {
  .priceMenu ul i {
    margin: auto 0 auto auto;
  }
}

.reserveMenu {
  font-size: 100px;
  background-image: url("../../../../../../../wp-content/themes/valentinerose/assets/images/reserve-link-pc.webp");
  height: 400px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  color: #CA7F13;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
@media (max-width: 375px) {
  .reserveMenu {
    height: 200px;
    background-image: url("../../../../../../../wp-content/themes/valentinerose/assets/images/reserve-link-sp.webp");
  }
}
.reserveMenu h2 {
  font-size: 80px;
  position: relative;
  z-index: 1;
}
@media (max-width: 375px) {
  .reserveMenu h2 {
    font-size: 48px;
  }
}
.reserveMenu p {
  font-size: 16px;
  position: relative;
  z-index: 1;
}
@media (max-width: 375px) {
  .reserveMenu p {
    font-size: 12px;
  }
}
.reserveMenu::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(70, 70, 70, 0.8);
  z-index: 0;
}

.snsLink {
  color: #CA7F13;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 100px;
}
@media (max-width: 375px) {
  .snsLink {
    margin-top: 10px;
  }
}
.snsLink h2 {
  font-size: 80px;
}
@media (max-width: 375px) {
  .snsLink h2 {
    font-size: 60px;
  }
}
.snsLink p {
  font-size: 16px;
}
@media (max-width: 375px) {
  .snsLink p {
    font-size: 12px;
  }
}
.snsLink__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  height: 300px;
}
@media (max-width: 375px) {
  .snsLink__flex {
    display: block;
    height: auto;
  }
}
.snsLink__left {
  width: 45%;
}
@media (max-width: 375px) {
  .snsLink__left {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 50px;
    padding-top: 50px;
    border-bottom: 1px solid #CA7F13;
  }
}
.snsLink__right {
  width: 45%;
}
@media (max-width: 375px) {
  .snsLink__right {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 50px;
    padding-top: 50px;
    border-bottom: 1px solid #CA7F13;
  }
}
.snsLink__center {
  width: 1px;
  height: 250px;
  background-color: #CA7F13;
}
@media (max-width: 375px) {
  .snsLink__center {
    display: none;
  }
}
.snsLink__underbar {
  height: 1px;
  width: 80%;
  background-color: #CA7F13;
  margin: 0 auto;
  margin-top: 20px;
}
@media (max-width: 375px) {
  .snsLink__underbar {
    display: none;
  }
}

.footerNav {
  position: relative;
}
.footerNav__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.footerNav__title img {
  height: 64px;
  width: 64px;
}
@media (max-width: 375px) {
  .footerNav__title img {
    width: 50px;
    height: auto;
  }
}
.footerNav__title h2 {
  font-size: 28px;
  color: #54372D;
  line-height: 35px;
}
@media (max-width: 375px) {
  .footerNav__title h2 {
    font-size: 20px;
    line-height: 28px;
  }
}
.footerNav__nav {
  width: 45%;
  margin: 0 auto;
  color: #54372D;
  letter-spacing: 2px;
  margin-top: 40px;
}
@media (max-width: 375px) {
  .footerNav__nav {
    width: 70%;
  }
}
.footerNav__nav__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 375px) {
  .footerNav__nav__top {
    row-gap: 10px;
  }
}
.footerNav__nav__top li {
  border-right: 1px solid #54372D;
  width: 20%;
  font-size: 20px;
}
.footerNav__nav__top li:last-child {
  border: none;
}
@media (max-width: 375px) {
  .footerNav__nav__top li {
    font-size: 14px;
    width: 33%;
  }
  .footerNav__nav__top li:nth-child(3) {
    border: none;
  }
}
.footerNav__nav__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}
.footerNav__nav__bottom li {
  width: 40%;
  font-size: 20px;
}
@media (max-width: 375px) {
  .footerNav__nav__bottom li {
    font-size: 14px;
    width: 50%;
  }
}
.footerNav__nav__bottom li:first-child {
  border-right: 1px solid #54372D;
}
.footerNav__copy {
  text-align: center;
  color: #54372D;
  margin-top: 60px;
  font-size: 12px;
  margin-bottom: 32px;
}
@media (max-width: 375px) {
  .footerNav__copy {
    margin-bottom: 8px;
  }
}
.footerNav__goTop {
  width: 80px;
  height: 80px;
  border-radius: 100px;
  background-color: #949E33;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  position: absolute;
  right: 40px;
  bottom: 59px;
}
@media (max-width: 375px) {
  .footerNav__goTop {
    width: 40px;
    height: 40px;
    right: 25px;
    bottom: 24px;
  }
}
.footerNav__goTop i {
  font-size: 40px;
}
@media (max-width: 375px) {
  .footerNav__goTop i {
    font-size: 20px;
    margin-top: 5px;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 100%;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-y: scroll;
}

body {
  margin: 0;
  font-family: sans-serif;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img,
video {
  max-width: 100%;
  height: auto;
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  border: none;
  background: none;
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

*:focus {
  outline: none;
}

:focus-visible {
  outline: 2px dashed #333;
}

fieldset {
  border: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

body {
  font-size: 16px;
  color: #333;
  font-family: "Marcellus", serif;
  width: 100%;
  background-color: #F9F8F6;
  overflow: hidden;
  letter-spacing: 1.8px;
}
@media (max-width: 375px) {
  body {
    font-size: 14px;
  }
}

@media (max-width: 375px) {
  .pc {
    display: none;
  }
}

@media (max-width: 635px) and (min-width: 376px) {
  .tablet {
    display: none;
  }
}

@media (min-width: 636px) {
  .sp {
    display: none;
  }
}

.slick-slide {
  margin: 0 10px;
}

.bled {
  color: #CA7F13;
  font-size: 18px;
  padding-left: 3%;
}

.reserve__header {
  height: 110px;
  background-color: #F9F8F6;
}
@media (max-width: 375px) {
  .reserve__header {
    height: 80px;
  }
}
.reserve__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #D4CEBE;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 360px;
  width: 100%;
  color: #CA7F13;
  text-align: center;
  gap: 0;
}
.reserve__title p {
  width: 100%;
  font-size: 48px;
  margin: 0;
  letter-spacing: 4.8px;
}
@media (max-width: 375px) {
  .reserve__title p {
    font-size: 24px;
    letter-spacing: 2.4px;
    margin-bottom: 8px;
  }
}
.reserve__title h2 {
  width: 100%;
  font-size: 80px;
  margin: 0;
  letter-spacing: 8px;
}
@media (max-width: 375px) {
  .reserve__title h2 {
    font-size: 32px;
    letter-spacing: 3.2px;
    line-height: 35px;
  }
}
@media (max-width: 375px) {
  .reserve__title {
    height: 200px;
  }
}
.reserve__dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 101px;
  width: 85%;
  margin: 0 auto;
  color: #CA7F13;
  margin-top: 121px;
  margin-bottom: 121px;
}
@media (max-width: 375px) {
  .reserve__dl {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    width: 90%;
    gap: 24px;
    margin-bottom: 32px;
    margin-top: 80px;
  }
}
.reserve__dl__left {
  width: 63%;
}
@media (max-width: 375px) {
  .reserve__dl__left {
    width: 100%;
  }
}
.reserve__dl__left h3 {
  font-size: 32px;
  margin-bottom: 42px;
}
@media (max-width: 375px) {
  .reserve__dl__left h3 {
    font-size: 24px;
  }
}
.reserve__dl__left p {
  font-size: 18px;
}
@media (max-width: 375px) {
  .reserve__dl__left p {
    font-size: 14px;
  }
}
.reserve__dl__right {
  background-color: #d4cebe;
  padding: 32px 43px 45px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  text-align: center;
}
.reserve__dl__right p {
  margin-bottom: 16px;
  font-size: 18px;
}
.reserve__dl__right a {
  background-color: #949E33;
  padding: 10px 37px 10px 25px;
  color: #fff;
}
.reserve__dl__right a i {
  margin-right: 16px;
}
.reserve__tell {
  width: 85%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #CA7F13;
  margin-bottom: 120px;
}
@media (max-width: 375px) {
  .reserve__tell {
    width: 90%;
    display: block;
    margin-bottom: 87px;
  }
}
.reserve__tell__left {
  padding-right: 60px;
  border-right: 1px solid #CA7F13;
  width: 62%;
}
@media (max-width: 375px) {
  .reserve__tell__left {
    width: 100%;
    border: none;
    padding: 0;
  }
}
.reserve__tell__left h3 {
  font-size: 48px;
}
@media (max-width: 375px) {
  .reserve__tell__left h3 {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
    font-size: 24px;
    margin-bottom: 12px;
  }
}
.reserve__tell__left p {
  font-size: 18px;
}
@media (max-width: 375px) {
  .reserve__tell__left p {
    font-size: 14px;
    margin-bottom: 24px;
  }
}
.reserve__tell__right {
  margin-left: 100px;
}
@media (max-width: 375px) {
  .reserve__tell__right {
    margin: 0;
    text-align: center;
  }
}
.reserve__tell__right a {
  font-size: 32px;
}
@media (max-width: 375px) {
  .reserve__tell__right a {
    font-size: 24px;
  }
}
.reserve__tell__right p {
  font-size: 14px;
  border: 1px solid #CA7F13;
  border-radius: 50px;
  text-align: center;
  margin-top: 36px;
}
@media (max-width: 375px) {
  .reserve__tell__right p {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 16px auto 0;
    padding: 0 34px;
  }
}
.reserve__contact {
  background-color: #ede9e4;
  padding: 80px 0;
}
@media (max-width: 375px) {
  .reserve__contact {
    padding: 60px 0;
  }
}
.reserve__contact__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 85%;
  margin: 0 auto 90px;
  gap: 96px;
}
@media (max-width: 375px) {
  .reserve__contact__title {
    display: block;
    width: 90%;
  }
}
@media (max-width: 375px) {
  .reserve__contact__left {
    margin-bottom: 38px;
  }
}
.reserve__contact__left h3 {
  color: #CA7F13;
  font-size: 48px;
  margin-bottom: 48px;
}
@media (max-width: 375px) {
  .reserve__contact__left h3 {
    font-size: 32px;
    margin-bottom: 16px;
  }
}
.reserve__contact__left p {
  font-size: 14px;
  line-height: 28px;
}
.reserve__contact__rightFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 26px;
  height: 100%;
}
@media (max-width: 375px) {
  .reserve__contact__rightFlex {
    gap: 18px;
  }
}
.reserve__contact__rightFlex--wrap {
  padding: 0 23px;
  border-top: 1px solid #707070;
  border-bottom: 1px solid #707070;
  color: #707070;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 375px) {
  .reserve__contact__rightFlex--wrap {
    padding: 40px 10px;
    margin: 0 auto;
  }
}
.reserve__contact__rightFlex--wrap p {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
@media (max-width: 375px) {
  .reserve__contact__rightFlex--wrap p {
    font-size: 14px !important;
  }
}
.reserve__contact__rightFlex--wrap h4 {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
@media (max-width: 375px) {
  .reserve__contact__rightFlex--wrap h4 {
    font-size: 16px !important;
  }
}
.reserve__contact__rightFlex--wrap.just {
  border-top: 1px solid #CA7F13;
  border-bottom: 1px solid #CA7F13;
  color: #CA7F13;
}
.reserve__thanks {
  text-align: center;
  color: #CA7F13;
}
@media (max-width: 375px) {
  .reserve__thanks {
    width: 90%;
    text-align: left;
    margin: 0 auto;
  }
}
.reserve__thanks p:first-child {
  font-size: 36px;
}
@media (max-width: 375px) {
  .reserve__thanks p:first-child {
    font-size: 24px;
  }
}
.reserve__thanks__wrap {
  text-align: left;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 18px auto 0;
}
.reserve__thanks__wrap p {
  font-size: 18px !important;
}
@media (max-width: 375px) {
  .reserve__thanks__wrap p {
    font-size: 14px !important;
  }
}
.reserve__thanks a {
  font-size: 18px;
  text-decoration: underline;
}
@media (max-width: 375px) {
  .reserve__thanks a {
    font-size: 14px;
  }
}

.cf7 {
  width: 85%;
  margin: 0 auto;
}
@media (max-width: 375px) {
  .cf7 {
    width: 90%;
  }
}
.cf7 input {
  background-color: #fff;
  height: 50px;
  width: 100%;
}
.cf7 textarea {
  background-color: #fff;
  width: 100%;
}
.cf7__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 32px;
}
@media (max-width: 375px) {
  .cf7__flex {
    margin-bottom: 27px;
    display: block;
  }
}
.cf7__flex p {
  font-size: 16px;
  width: 30%;
}
@media (max-width: 375px) {
  .cf7__flex p {
    width: 100%;
    margin-bottom: 12px;
  }
}
.cf7__flex p span {
  font-size: 14px;
  margin-right: 16px;
}
@media (max-width: 375px) {
  .cf7__flex p span {
    font-size: 12px;
  }
}
.cf7__flex p + p {
  width: 70%;
}
@media (max-width: 375px) {
  .cf7__flex p + p {
    width: 100%;
  }
}
.cf7__must {
  background-color: #54372d;
  padding: 5px 18px;
  color: #fff;
  border-radius: 50px;
}
.cf7__any {
  background-color: #D4CEBE;
  padding: 5px 18px;
  border-radius: 50px;
}
.cf7__checkbox {
  width: 70%;
}
@media (max-width: 375px) {
  .cf7__checkbox {
    width: 100%;
  }
}
.cf7__checkbox__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 375px) {
  .cf7__checkbox__flex {
    display: block;
  }
  .cf7__checkbox__flex .wpcf7-form-control {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 10px 24px;
  }
  .cf7__checkbox__flex .wpcf7-list-item {
    margin: 0;
  }
}
.cf7__checkbox__flex p {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 14px;
}
.cf7__checkbox__flex p + p {
  width: 90%;
}
@media (max-width: 375px) {
  .cf7__checkbox__flex p + p {
    width: 100%;
  }
}
.cf7__checkbox input {
  width: 30px;
  height: 30px;
  margin-right: 12px;
}
.cf7__checkbox label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.cf7__q p {
  width: 100%;
}
@media (max-width: 375px) {
  .cf7__q p span {
    margin: 0;
  }
}
.cf7__q .wpcf7-form-control.wpcf7-checkbox {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 375px) {
  .cf7__q .wpcf7-form-control.wpcf7-checkbox {
    display: block;
  }
}
.cf7__q .wpcf7-list-item-label {
  width: 210px;
}
.cf7 i {
  background-color: #CA7F13;
  color: #fff;
  font-size: 30px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
}
.cf7__cal {
  width: 64%;
}
@media (max-width: 375px) {
  .cf7__cal {
    width: 100%;
  }
}
.cf7__cal p {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.cf7__cal p span {
  margin: 0;
  width: 50%;
}
@media (max-width: 375px) {
  .cf7__cal p span {
    width: 100%;
  }
}
.cf7__wrap {
  width: 70%;
}
@media (max-width: 375px) {
  .cf7__wrap {
    width: 100%;
  }
}
.cf7__wrap p {
  width: 100%;
  font-size: 14px;
}
.cf7__wrap p + p {
  font-size: 12px;
  width: 100%;
}
.cf7__button {
  width: 160px;
  margin: 0 auto;
}
.cf7__button input {
  background-color: #949E33;
  border-radius: 50px;
  color: #fff;
}

.reserveMenu {
  display: none;
}

.wpcf7-submit {
  width: 160px;
}

input[type=date]::-webkit-calendar-picker-indicator {
  display: none; /* Chrome、Safari のデフォルトアイコンを非表示にする */
}

input[type=date]::-moz-calendar-picker-indicator {
  display: none; /* Firefox のデフォルトアイコンを非表示にする（対応している場合） */
}

.bled {
  margin-top: 17px;
  font-size: 18px;
}