// color
$main-color: #CA7F13;
$sub-color1: #54372D;
$sub-color2: #949E33;
$text-color: #333;
$background-color1: #F9F8F6;
$background-color2: #D4CEBE;

//font-family
$main-font: "Marcellus", serif;
$sub-font: "annabelle-jf", sans-serif;

//breakpoint
$xs: 375px;
$sp: 375px;
$tablet: 635px;
$pc: 636px;

//
