@use "../../global" as g;

.priceMenu{
  ul{
    width: 100%;
    color: g.$main-color;
    @include g.pc{
      flex-wrap: wrap;
      display: flex;
    }
    
    li{
      width: 50%;
      display: flex;
      letter-spacing: 1.92px;
      font-size: 48px;
      padding-bottom: 10px;
      border-bottom: 1px solid g.$main-color;
      padding-left: 20px;
      a{
        width: 100%;
        display: flex;
      }
      @include g.sp{
        width: 90%;
        margin: 0 auto 20px;
        font-size: 36px;
        padding-left: 0;
      }
      span{
        font-size: 14px;
        margin-top: auto;
        margin-bottom: 13px;
        margin-left: 15px;
      }
      &:nth-child(1){
        @include g.pc{
          border-right: 1px solid g.$main-color;
        }
      }
      &:nth-child(3){
        @include g.pc{
          border-right: 1px solid g.$main-color;
        }
      }
      &:nth-child(5){
        @include g.pc{
          border-right: 1px solid g.$main-color;
        }
      }
    }
    i{
      margin: auto 20px auto auto;
      font-size: 21px;
      text-align: right;
      @include g.sp{
        margin: auto 0 auto auto;
      }
    }
  }
}