@use "../global" as g;

body{
  font-size: 16px;
  color: g.$text-color;
  @include g.main-font;
  width: 100%;
  background-color: g.$background-color1;
  @include g.sp(){
    font-size: 14px;
  }
  overflow: hidden;
  letter-spacing: 1.8px;
}

.pc{
  @include g.sp{
    display: none;
  }
}

.tablet{
  @include g.tablet{
    display: none;
  }
}

.sp{
  @include g.pc{
    display: none;
  }
}

.slick-slide{
  margin: 0 10px;
}

.bled{
  color: g.$main-color;
  font-size: 18px;
  padding-left: 3%;
}
